// Colors
$darkest-gray: #181818;
$dark-gray: #2F2F2F;
$gray: #353535;
$light-gray: #CACACA;
$lightest-gray: #E9E9E9;

// Typography 
$font-family-1: "Karla", sans-serif;
//$font-family-2:;
$base-font-size: 18px;
$base-line-height: 1.5;
$base-color: $gray;
$base-link-color: $gray;
$base-link-hover-color: $gray;

// Layout
$wrapper-width: 90%;

// Margins and Padding
$space:1rem;